.reddit-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
  }
  
  .reddit-card {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
  }
  
  .reddit-card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .reddit-card-score {
    font-size: 14px;
    color: #777;
  }
  
  .reddit-card-url {
    font-size: 14px;
    color: #3498db;
  }
  
  .reddit-card-selftext {
    font-size: 14px;
    color: #555;
  }
  